.new-releases {
  background: #f6f6f6;
}

.new-releases .center-text {
  margin: 5rem auto;
}

.new-releases p {
  color: black;
}

.card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* overflow:hidden; */
}

.card-carousel .my-card {
  display: flex;
  flex-direction: row;
  height: auto;
  min-width: 36rem;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(1) translateY(-2rem);
  transform: scale(1) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: 1s;
  margin: 3rem 1rem;
  border-radius: 3px;
  box-shadow: 3px 0px 10px 1px #b8bfcf;
}

.card-carousel .my-card.active {
  z-index: 3;
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}

.card-carousel .my-card.prev, .card-carousel .my-card.next {
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
  opacity: 0.6;
}

.album-img {
  display: flex;
  background: #f6f6f6;
}

.album-img img {
  width: auto;
  height: auto;
  display: block;
  margin: auto;
  padding: 3rem 1.2rem;
}


.album-description {
  padding: 2.5rem 2rem;
  background: white;
}

.album-description h2 {
  letter-spacing: 2;
  color: #001d5d;
  margin-bottom: 0.5rem;
}

.album-description h3 {
  color: #68c242;
  margin-bottom: 0.75rem;
}

.slider-arrows {
  display: block;
  margin: auto;
}

.slider-arrows > img {
  display: inline-block;
  margin: 0 1.25rem 5rem;
}

@media screen and (max-width: 700px) {
  .new-releases .center-text {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  .card-carousel .my-card {
    //display: none;
    flex-direction: column;
    width: 100%;
    min-width: auto;
    margin-bottom: 0;
  }

  .card-carousel .my-card.active {
    display: inline-block;
  }

  .album-img img {
    padding: 1.2rem;
  }
}
