.hero {
  background-image: url('../../img/image1.png');
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 10rem;
  padding-top: 10rem;
  animation: animateforward forwards 10s ease-out;
}

.hero p {
  color: white;
}

@keyframes animateforward{
    0% { background-size: 100%;
           background-position: center top}
    50% { background-size: 120%;
         background-position: center 10%;}
    100% { background-size: 100%;
         background-position: center top;}
}

.video-cta * {
  display: inline-block;
  margin-top: 1.5rem;
  vertical-align: middle;
}

.video-cta img {
  margin-right: .6rem;
}

@media screen and (min-width: 1100px) {
  .hero p {
    width: 50%;
  }
}
